/**
 * Toggle menu
 **/
.gpy-toggle-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 40px;
  border: 1px solid #fff;
  background: transparent;

  * {
    @include transition(all .25s ease);
  }

  .gpy-toggle-menu-check {
    @include appearance(none);
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    &:checked ~ {
      .gpy-toggle-menu-bar {
        &.gpy-toggle-menu-bar-center {
          opacity: 0;
          margin-bottom: -9px;
        }

        &.gpy-toggle-menu-bar-left,
        &.gpy-toggle-menu-bar-right {
          padding-right: 1px;
        }

        &.gpy-toggle-menu-bar-left {
          @include transform(rotate(135deg));
        }

        &.gpy-toggle-menu-bar-right {
          @include transform(rotate(-135deg));
        }
      }
    }
  }

  .gpy-toggle-menu-bar {
    display: block;
    margin: 0 auto 5px;
    width: 60%;
    height: 2px;
    background: #fff;

    &:last-child {
      margin-bottom: 0;
    }
  }
}